@using VolunteerApp.Data
@model ManageVolunteersViewModel
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success"> 
        @TempData["SuccessMessage"].ToString()

    </div>
    
}
<h1> Manage Volunteers</h1>
<a asp-action = "AddVolunteer">Add Volunteer</a>

<form asp-action="SearchVolunteers">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label>Last Name: </label>
        <input asp-for="LastName"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
        <input type="submit" value="Search" />
</form>


@if(ViewBag.Volunteers != null){
    <table>

        <tr>

            <th>Last Name</th> 
            <th>First Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var item in (List<Volunteer>)ViewBag.Volunteers)
        {
            <tr>

                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.Status</td>
                <td>@Html.ActionLink("Edit","EditVolunteer",new {id = item.ID})</td>

            </tr>
        }
    </table>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}